<h1>Thread Chat</h1>
<div class="threadContainer">
    <div class="allThreads">
        <p>All open Threads</p>
        <ul>
            {{#each openThreads}}
                <li><a href="/thread/{{this.threadId}}">{{this.threadId}}</a> - <a href="/thread/delete/{{this.threadId}}">Delete</a></li>
            {{/each}}
        </ul>
        <br><hr><br><br>
        <h3>Select your Assistant:</h3>
        <form action="/thread/createThread" method="POST">
            <select name="assistantId" id="assistant">
                {{#each listAllAssistants}}
                    <option value="{{this.assistantId}}">{{this.name}}</option>
                {{/each}}
            </select>
            <br><br>
            <label for="message">Message
                <input type="text" name="message" id="message">
            </label>
            <button>Create Thread</button>
        </form>
        {{#if error}}
            <p style="color: red">{{error}}</p>
            <a href="/thread"><p>Reload Page</p></a>
        {{/if}}
    </div>
    <div class="messagesContainer">
        <div class="messages">
            <p>Thread Messages:</p>
            <ul>
                {{#each currentThreadMessages}}
                    {{#if (eq this.role 'assistant')}}
                        <li class="assistant-message"><b>Assistant:</b><br>{{this.content.[0].text.value}}</li>
                    {{else if (eq this.role 'user')}}
                        <li class="user-message"><b>User:</b><br>{{this.content.[0].text.value}}</li>
                    {{/if}}
                {{/each}}
            </ul>
            <form action="/thread/sendMessage" method="POST" class="form">
            <label for="message">
                <input type="text" name="message" id="message">
                <input type="hidden" name="currentThread" value="{{currentThread}}">
            </label>
            <button>Send</button>
        </form>
        </div>
        
    </div>
</div>


<style>
    .threadContainer {
        display: flex;
        flex-direction: row;
        gap: 100px;
        padding: 50px;
    }

    .allThreads {
        background-color: rgb(238, 238, 238);
        padding: 20px 50px;
        width: 30%;
    }

    .messagesContainer {
        display: flex;
        background-color: rgb(238, 238, 238);
        width: 70%;
        justify-content: space-around;
        align-items: center;
        padding: 25px;
    }

    .createAssistantForm {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 20px;
        background-color: rgb(216, 216, 216);
    }


    .user-message {
        list-style: none;
        padding: 5px 0;
    }

    .assistant-message {
        color: #5C8374;
        list-style: none;
        padding: 5px 0;
    }
</style>