<div>
    {{#if audio}}
    <audio controls>
  <source src="{{audio}}" type="audio/mpeg">
  Your browser does not support the audio element.
</audio>
<form action="/knifedrive/download-audio" method="post">
  <input type="hidden" name="voiceId" value="{{voiceId}}">
  <button type="submit">Download Audio</button>
</form>
 
{{/if}}
</div>

<form action="/knifedrive/text-to-speech" method="POST">
    <!-- Input Field -->
    <label for="inputField">Input Field:</label>
    <input type="text" id="inputField" name="text" required>

    <!-- Dropdown Menu -->
    <label for="modelSelect">Choose a Model:</label>
    <select id="modelSelect" name="voice">
        <option value="alloy">Alloy</option>
        <option value="echo">Echo</option>
        <option value="fable">Fable</option>
        <option value="onyx">Onyx</option>
        <option value="nova">Nova</option>
        <option value="shimmer">Shimmer</option>
    </select>

    <!-- Submit Button -->
    <button class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="submit">Submit</button>
</form>
{{#if message}}
<p>{{this.message}}</p>
<button>Report bug</button>
{{/if }}

<div>
    {{#if audio}}
    <audio controls>
  <source src="{{audio}}" type="audio/mpeg">
  Your browser does not support the audio element.
</audio>
<form action="/knifedrive/download-audio" method="post">
  <input type="hidden" name="voiceId" value="{{voiceId}}">
  <button type="submit">Download Audio</button>
</form>
 
{{/if}}
</div>
