<form action="/thread/createThread" method="POST">
    <div class="assistantSelector flex justify-start gap-5">
        {{#each listAllAssistants}}
        <input type="radio" id="assistant{{this.assistantId}}" name="assistantId" value="{{this.assistantId}}" required>
        <label class="text-center" for="assistant{{this.assistantId}}">
            <img class="rounded-full" width="100" height="auto" 
            {{#if this.image_url}}
                src="{{this.image_url}}"
            {{else}}
                src="https://placekitten.com/200/200"
            {{/if}}
             alt="{{this.name}}">
            {{this.name}}
        </label>
        {{/each}}
    </div>
    <br><br>
    <label  for="message">Your Message/Question
        <textarea type="text" name="message" id="message" rows="6" class="block mt-3 p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Write your first Message to start the Thread..."></textarea>
    </label>
    <button class="text-white mt-4 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Create Thread</button>
</form>